body{
  padding: 2% ;
  padding-top: 2px;
  margin: 2%;
}

header{
  background-color: azure;
  background-image: url(../images/flywheel.jpg);
  background-size:100%;
  padding:20px;

}

h1{
  text-align: center ;
  color: #ffffff;
  font-size: x-large;
	text-transform: uppercase;
}

h2{
  color: #AA5;
}


nav{
  color: rgb(204, 122, 21);
  text-align: center;

}

nav > a{
  display: inline-block;
  margin-right: 5%;
  text-decoration: none;
  color: black;
  border: 1px solid whitesmoke;
  padding: 10px 40px;
  background-color: rgba(218,234,213,0.60);

  -webkit-border-radius: 3;
	-moz-border-radius: 3;
	-o-border-radius: 3;
	border-radius: 5px;

}

.left{
  width: 24%;
  float: left;
  background-color: rgb(20, 233, 215);
  padding: 5% 0;
  padding-top: 4px;

}

.left img {
	border: solid 1px #000000;
	width: 80%;
  margin: 10%;
  margin-bottom: 3px;
}

.right {
	width:74%;
	display: inline-block;
  padding-left: 2%;

}

.active {
	background-color: #FFFFFF;
}

